name: Publish to GitHub Pages

on:
  # Runs on pushes targeting the 'main' or 'master' branch
  push:
    branches: ["master"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.2' # You can change this to a specific R version

      - name: Setup Quarto
        uses: quarto-dev/setup-quarto@v2

      - name: Install R Packages
        run: |
          R -e "install.packages(c('knitr', 'tidyverse', 'kableExtra', 'fontawesome'))"

      - name: Restore render cache
        uses: actions/cache@v4
        with:
          path: _freeze
          key: quarto-freeze-${{ runner.os }}-${{ hashFiles('**/*') }}
          restore-keys: |
            quarto-freeze-${{ runner.os }}-

      - name: Render website
        run: quarto render
        # This builds the site into the default _site folder

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site # Upload only the built _site folder

  # Deploy job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build # Wait for the 'build' job to finish
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4